.movie {
  width: 400px;
  height: fit-content;
  margin: 8px;
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

.movie-image {
  width: 100%;
  max-height: 300px;
  border-radius: 8px;

  transition: width 200ms ease-in-out, color 100ms linear;
}

.movie:hover {
  transform: scale(1.01);
  color: white;
}

.like-star-wrapper {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.like-star.movie-liked {
  color: red;
}

.movies__container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.move__title__title {
  position: absolute;
  top: 0px;
  font-size: x-large;
  margin: 15px;
  background-color: rgba(50, 50, 50, 0.1);
  transition: color 100ms ease-in-out;
}
