.App {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  text-align: center;
  background: lightblue;
  justify-content: center;
}

.form__btn {
  margin: 10px;
  border: thin solid lightgray;
  width: 100px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}
.form__btn:hover {
  background-color: rgb(170, 170, 170);
}
.form__btns {
  flex-direction: row;
  display: flex;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.visible {
  display: inherit;
}
.invisible {
  display: none;
}
