.login-wrapper {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.txt__login__form {
  width: 200px;
  margin-top: 10px;
  padding: 5px;
  font-size: larger;
}
.error__message {
  color: red;
  font-family: "Courier New", Courier, monospace;
}
